*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
#container{
    height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
    background: #f6f6f6;
    overflow: hidden;
}
#dot1{
    height: 900px;
    width: 900px;
    position: absolute;
    top: -200px;
    right: -200px;
    background: #fc86ab;
    border-radius: 50%;
}
#dot2{
    height: 900px;
    width: 900px;
    position: absolute;
    bottom: -200px;
    left: -200px;
    background: #17e782;
    border-radius: 50%;
}
#screen{
    height: 570px;
    width: 400px;
    border-radius: 30px;
    background: #f6f6f6;
    border: 15px solid #fff;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
#header{
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #17e782;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000a1;
}
#messageDisplaySection{
    height: 350px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    padding: 0 20px;
    overflow-y: auto;

}
.chat{
    min-height: 40px;
    max-width: 60%;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0;
}
.botMessages{
    background: #17e782;
    color: #fff;
    text-shadow: 1px 1px 2px #000000d4;
    /* float: right; */
}
#messagesContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.usersMessages{
    background: #00000010;

}
#userInput{
height: 50px;
width: 90%;
position: absolute;
left: 5%;
bottom: 3%;
background: #fff;
border-radius: 10px;
overflow: hidden;
box-shadow: 2px 2px 8px rgb(0, 0, 0,0.1);
}
#messages{
    height: 50px;
    width: 90%;
    position: absolute;
    left: 0;
    border: none;
    outline: none;
    background: transparent;
    padding: 0px 15px;
    font-size: 17px;
}
#send{
    height: 50px;
    width: 24%;
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    background: #17e782;
}