body{
    margin: 0;padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    width: 100%;
    height: 56px;
    background-color: black;
}
#menu{
    width: 1024px;
    min-height: 500px;
    margin: 0px auto;
    color: white;
}
h2{
    margin: 0px;
}
#wrapper{
    width: 1024px;
    min-height: 500px;
    margin: 0px auto;
}
#portfolio{
    list-style-type: none;
    padding-left: 0px;
}
#portfolio li{
    display: inline-block;
    margin: 10px 5px 10px 5px;
}
#portfolio li img{
    width: 250px;
    height: 250px;
}
#portfolio li img:hover{
    cursor: pointer;
}
#overlay:hover{
    cursor: pointer;
}
#main:hover{
    cursor: pointer;
}
#frame{
    display: none;
    background-color: white;
    left: 50%;
    width: 700px;
    height: 610px;
    position: fixed;
    margin-left: -350px;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* replacing #frame img with #main everywhere */
#main{
    width: 660px;
    height: 600px;
    margin-left: 20px;
}
#overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.7;
}
#frame-table{
    position: absolute;
    width: 660px;
    margin-left: 20px;
}
#right{
    float: right;
}
#left img{
    margin-left: -3px;
}
#right img{
    margin-right: -3px;
}
#left,#right{
    position: relative;
    top: 250px;
    opacity: 0.7;
}
#desc{
    background-color: white;
    padding-bottom: 10px;
}
#desc p{
    margin-left: 20px;
}
#filter li{
    display: inline;
}
#filter li.active{
    text-decoration: underline;
}

