body{
    font-family: arial;
    font-size: 12px;
    margin: 0;
    background: #2793d2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 60vh;
  }
  .input_container{
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 30);
    border:10px solid #41b9ff;
  }
  .input_container .input-row{
    margin-bottom: 12px;
  }
  .input_container input:not([type="submit"]),
  .input_container textarea{
    width: 100%;
    margin: 0 0 3px ;
    background-color: #d6d6d6;
    color: #000;
    padding: 10px 15px 10px 0;
    height: 30px;
    line-height: 3px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: 0;
    transition: all 0.5s ease-out;

  }
  .input_container textarea{
    height: 80px;
    resize: none;
  }
  .input_container input:not([type="submit"]):focus,
  .input_container textarea:focus{
  border-color: #2793d2;
  }
  *::-webkit-input-placeholder{
    opacity: 1;
    color: #000;
  }
  .input_container input[type="submit"]{
    padding: 10px 30px;
    font-size: 18px;
    line-height: 30px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #2793d2;
    color: #fff;
    border: 0;
    transition:0 0 0.5s ease-out;
    border-radius: 5px;
  }
  .input_container input[type="submit"]:hover{
    background-color: #000;
  }
  .error{
    font-weight: 700;
    display: block;
    color: #f00;
    font-size: 14px;
  }