body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}
#header{
    width: 100%;
    height: 60px;
    background-color:#333 ;
    box-shadow: 0px 4px 2px #333;
}
#header>h1{
    padding: 12px;
    width: 1024px;
    margin: 0px auto;
    color: white;
}
#container{
    width: 1024px;
    margin: 0px auto;
    height: 400px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #333;
    overflow: scroll;
}
#controls{
    width: 1024px;
    margin: 0px auto;
}
textarea{
    resize: none;
    width: 960px;
}
#send{
    font-size: 24px;
}
.username{
    color: blue;
    font-weight: bold;
}
.bot{
    color: green;
    font-weight: bold;
}