<li data-keywords="novel" class="all nature"><img id="1" src="../images/a1.PNG" alt="img"  /></li>
<li data-keywords="greetings" class="all architecture"><img id="2" src="../images/a2.PNG" alt="img" /></li>
<li data-keywords="quiz" class="all ecosystem"><img id="3" src="../images/a3.PNG" alt="img" /></li>
<li data-keywords="shlok" class="all city"><img id="4" src="../images/a4.PNG" alt="img" /></li>
<li data-keywords="convertor" class="all ecosystem"><img id="5" src="../images/a5.PNG" alt="img" /></li>
<li data-keywords="inventory" class="all nature"><img id="6" src="../images/a6.PNG" alt="img" /></li>
<li data-keywords="video" class="all city"><img id="7" src="../images/a7.PNG" alt="img" /></li>
<li data-keywords="json" class="all architecture"><img id="8" src="../images/a8.PNG" alt="img" /></li>
<li data-keywords="notification" class="all ecosystem"><img id="9" src="../images/b1.PNG" alt="img" /></li>
<li data-keywords="attendance" class="all city"><img id="10" src="../images/b2.PNG" alt="img" /></li>
<li data-keywords="chat" class="all architecture"><img id="11" src="../images/b3.PNG" alt="img" /></li>
<li data-keywords="api" class="all nature"><img id="12" src="../images/b4.PNG" alt="img" /></li>